.container {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
.container div {
	background-color: rgba(100, 0, 0, 0.5);
	margin: 20px;
	border-radius: 10px;
}
.container div h3 {
	text-align: center;
	margin: 5px 0 10px 0;
}
.container div p {
	text-align: center;
	font-size: 20px;
}
button {
	background-color: rgba(0, 150, 0, 0.5);
	border-radius: 10px;
	font-size: 20px;
	border: none;
	margin: 10px 0 10px 20px;
}
button:hover {
	background-color: rgba(0, 180, 0, 0.5);
	border-radius: 10px;
	font-size: 20px;
	border: none;
}
.score {
    align-self: center;
}
.score button {
    background-color: rgba(0, 180, 0, 1);
}
.score_dis {
    font-size: 40px;
    font-style: oblique;
    text-align: center;
}
p a {
    color: black;
}